.header {
    height: 32px;
    background-color: hsl(223, 12%, 6%);
    border: 1rem solid hsl(223, 12%, 6%);
    border-bottom: 1.4rem solid hsl(223, 12%, 6%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;
}

.logo {
    position: relative;
    margin-right: calc(50% - 8rem);
    border-radius: .8rem; 
    width: 16rem;
    height: auto;
}

.searchInput {
    width: 25rem;
    font-size: 1rem;
    padding: .5rem;

    border: none;
    border-radius: .8rem;
    background: hsl(0, 0%, 95%);
}

.accountIcon {
    width: 2.1rem;
    height: auto;
    position: absolute;
    padding: 3px;
    background-color: hsl(223, 12%, 14%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1.5px solid hsl(0, 0%, 45%);
    border-radius: 100%;
}


@media only screen and (max-width: 920px) {
    .homeLogo {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .searchInput {
         margin-right: calc(70% - 15rem);
        width: 20rem;
    }
}

.accountIcon:hover {
    background-color: hsl(223, 12%, 10%);
}

.accountIcon:active {
    width: 2rem;
    margin: .05rem;
    height: auto;
}