:root {
  background-color: hsl(223, 12%, 12%);
}

br {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: hsl(0, 0%, 95%);
}

.nearYouHeader {
  margin: .8rem;
  margin-left: 2vw;
}

.scrollBack {
  display: inline;
  margin-left: 2vw;
  color: hsl(223, 12%, 24%);
}

.scrollForward {
  display: inline;
  margin-right: 2vw;
  margin-left: calc(96vw - 25px);
  color: hsl(223, 12%, 24%);
}

.scrollForward:active, .scrollBack:active{
  color: hsl(223, 12%, 6%);
}

img, div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
}

