:root {
    --scale: .8;

    --container-height: calc(26.25rem * var(--scale));
    --preview-width:calc(11.25rem * var(--scale));
    --preview-height:calc(21.25rem * var(--scale));

    --poster-width:calc(10.1875rem * var(--scale));
    --poster-height:calc(15.125rem * var(--scale));

    --rating-height:calc(2.5rem * var(--scale));

    --rating-icon-height:calc(1.5625rem * var(--scale));

    --font-size:calc(1rem * var(--scale));

    --title-width:calc(10.1875rem * var(--scale));
    --title-height:calc(2.5rem * var(--scale));
    --title-margin: 0px;
    --title-padding:calc(8.5px * var(--scale));
}

.previewsDiv {
    width: auto;
    height: var(--container-height);
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
}

.previewsDiv::-webkit-scrollbar {
    display: none;
}

.moviePreviewContainer:first-child {
    margin-left: 2vw;
}
.moviePreviewContainer:last-child {
    margin-right: 2vw;
}

.moviePreviewContainer {
    width: var(--preview-width);
    height: var(--preview-height);
    margin: 8px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    border-radius: .2rem;
    background-color: hsl(223, 12%, 24%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: normal; 
}

.moviePreviewContainer:hover {
    width: calc(var(--preview-width) + 8px);
    height: calc(var(--preview-height) + 8px); 
    --poster-width:calc(calc(10.1875rem * var(--scale)) + 8px);
    --poster-height:calc(calc(15.125rem * var(--scale)) + 8px);
    margin: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    --title-margin: 4px;
}
.moviePreviewContainer:first-child:hover {
    margin-left: calc(2vw - 4px);
}
.moviePreviewContainer:last-child:hover {
    margin-right: calc(2vw - 4px);
}

.moviePreviewContainer:active {
    width: calc(var(--preview-width) - 4px);
    height: calc(var(--preview-height) - 4px); 
    --poster-width:calc(calc(10.1875rem * var(--scale)) - 4px);
    --poster-height:calc(calc(15.125rem * var(--scale)) - 4px);
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --title-margin: -2px;
}
.moviePreviewContainer:first-child:active {
    margin-left: calc(2vw + 2px);
}
.moviePreviewContainer:last-child:active {
    margin-right: calc(2vw + 2px);
}

.moviePoster {
    width: var(--poster-width);
    height: var(--poster-height);
    border-radius: .2rem;
}

.ratingDiv {
    height: var(--rating-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomatoRatingDiv{
    height: var(--rating-height);
    width: calc(var(--poster-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomatoRatingIcon {
    height: var(--rating-icon-height);
    width: auto;
}

.tomatoRating{
    display: inline;
    font-size: var(--font-size);
    margin-left: 6px
}

.userRatingDiv{
    height: var(--rating-height);
    width: calc(var(--poster-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userRatingIcon {
    height: var(--rating-icon-height);
    width: auto;
}

.userRating{
    display: inline;
    font-size: var(--font-size);
    margin-left: 6px
}

.movieTitleDiv {
    width: var(--title-width);
    height: var(--title-height);
    margin-left: var(--title-margin);
    margin-right: var(--title-margin);
    padding-left: var(--title-padding);
    padding-right: var(--title-padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieTitle{
    font-size: calc(var(--font-size) * .85);
    margin: 0;
}