:root {
    --not-summary-height: 16vw;
}

.moviePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: hsl(0, 0%, 95%);
}

.backHome {
    margin: 1vh;
    margin-left: 2vw;
}


.movieInfo {
    background-color: hsl(223, 12%, 24%);
    width: 86vw;
    height: auto;
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 5vh;
    padding: 2vw;
    padding-bottom: 1vw;
    border: none;
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title{
    margin: 0;
}

.trailer {
    width: calc(30vw * 1.7777777);
    height:30vw;
    background-color: black;
    border: none;
    display:inline-block;
}

.movieDetails {
    width: calc(83vw - calc(30vw * 1.7777777));
    height: 30vw;
    padding-left: 2vw;
    display:inline-block;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .movieDetails {
        width: auto;
        height: auto;
        display: block
    }

    .trailer {
        width: 86vw;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .summary{
        font-size: .8rem;
        margin: 0;
        margin-top: 1.5rem;
        overflow: auto;
    }

    .genreTitle {
        margin: 0;
        margin-right: .75rem;
    }

}

.rating{
    display:inline-block;
    margin: 0;
    margin-top: 1rem;
    margin-right: 2rem;
}

.spacer {
    display: inline-block;
    width: 1rem;
}

.newTomatoRating{
    display: inline-block;
    font-size: var(--font-size);
    margin-left: 6px;
    transform: translate(0, -.3rem);
}

.newUserRating{
    display: inline-block;
    font-size: var(--font-size);
    margin-left: 6px;
    transform: translate(0, -.3rem);
}

.genreTitle {
    margin: 0;
    margin-right: .75rem;
    margin-top: 1.5rem;
    display: inline-block;
    font-size: 1rem;
    font: bold;
}

.genre{
    margin: 0;
    display: inline-block;
    font-size: .8rem;
}

.releaseDateTitle {
    margin: 0;
    margin-right: .75rem;
    margin-top: .75rem;
    display: inline-block;
    font-size: 1rem;
}

.releaseDate{
    margin: 0;
    display: inline-block;
    font-size: .8rem;
}

.summary{
    font-size: .8rem;
    height: var(--not-summary-height);
    margin: 0;
    margin-top: 1.5rem;
    overflow: auto;
}

.summary::-webkit-scrollbar{
    background-color: hsl(223, 12%, 12%);
}

.summary::-webkit-scrollbar-thumb{
    background-color: hsl(223, 12%, 22%);
    border-radius: 10rem;

}

.castTitle {
    margin: 0;
    margin-top: 1rem;
}

.crewTitle {
    margin: 0;
}