.theaterPage {
    min-height: 101vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: hsl(0, 0%, 95%);
}

.theaterInfo {
    background-color: hsl(223, 12%, 24%);
    width: 86vw;
    height: auto;
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 2vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
}

.theaterInfoTitle {
    height: 12vh;
    display: flex;
    align-items: center;
}

.theaterName {
    display: inline-block;
    width: auto;
    margin: 0;
}

.theaterAddress {
    display: inline-block;
    margin-left: auto;
    font-size: 1.2rem;
}

.addFavoritesDiv {
    width:  auto;
    margin-left: auto;
    border: 1px solid white;
}