.overlay {
    position:fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loadingSpacer {
    height: 100vh
}

.userPage {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: hsl(0, 0%, 95%);
}

.userSetup {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.loginDiv, .signUpDiv {
    align-self: flex-start;
    width: 40vw;
    max-width: 350px;
    min-width: 300px;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: none;
    border-radius: .6rem;
    background-color: hsl(223, 12%, 24%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputField {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3rem;
    border: 0;
    outline: none;
    background-color: hsl(223, 12%, 24%);
    border-bottom: 1.5px solid hsl(0, 0%, 80%);
    -webkit-transition: all .2s;
    transition: all .2s;
    color: hsl(0, 0%, 70%);
}
.inputField:focus {
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.inputField:focus::placeholder {
    color: hsl(0, 0%, 95%);
}
.inputField::placeholder {
    font-style: italic;
    color: hsl(0, 0%, 70%);
}
.signUpEmailField, .signUpPasswordField, .signUpConfirmPasswordField {
    margin-bottom:1.175rem;
}

.errorMessage {
    text-align: center;
    height: 1rem;
    font-size: .8rem;
    color:hsl(352, 48%, 42%)
}

.loginButton, .signUpButton {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 100px;
    margin-top: 1rem;
    background-color: hsl(144, 39%, 55%);
    color: black;
    transition: color 2s;
}
.loginButton:hover, .signUpButton:hover {
    background-color: hsl(144, 40%, 49%);
}
.loginButton:active, .signUpButton:active {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1.025rem;
    margin-bottom: 0.025rem;
    height: 2.45rem
}

.switchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 2.5rem;
}

.noAccountText, .haveAccountText{
    text-align: center;
    height: auto;
    font-size: .8rem;
    margin-right: 1rem;
    display: inline-block;
}

.goToSignUpButton, .goToLoginButton{
    display: inline-block;
    width: 4rem;
    height: 1.8rem;
    border: none;
    border-radius: 100px;
    background-color: hsl(144, 39%, 55%);
    color: black;
}
.goToSignUpButton:hover, .goToLoginButton:hover {
    background-color: hsl(144, 40%, 49%);
}
.goToSignUpButton:active, .goToLoginButton:active {
    width: 3.86rem;
    margin-left: .08rem;
    margin-right: .08rem;
    height: 1.728rem;
    margin-top: .036rem;
    margin-bottom: .036rem;
}


.userPageBody{ 
    padding-left: 2rem;
    padding-right: 2rem;
}

.userPageHeader {
    display: flex;
    margin-bottom: 2rem
}

.accountSummary {
    width: 20rem;
    padding: 2rem;
    background-color: hsl(223, 12%, 20%);
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.userName {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.joinedLabel {
    font-size: medium;
    font-style: italic;
}

.adminSummary {
    width: 16rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-bottom: 1.25rem;
    background-color: hsl(223, 12%, 20%);
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.adminTitle {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
}

.toggleAdminDiv {
    text-align: center;
    margin-top: .75rem;
}

.adminSwitch {
    width: 12rem;
    background-color: hsl(223, 12%, 12%);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9998;

}

.switchAdminLeft {
    font-size: small;
    width: 6rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 3rem;
    background-color: hsl(223, 12%, 28%);
    text-align: center;
    z-index: 9998;

}

.switchAdminRight {
    font-size: small;
    width: 6rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 3rem;
    text-align: center;
    z-index: 9998;
}


.logOut {
    margin-left: auto;
    font-size: 1rem;
    width: 8rem;
    padding: .5rem;
    margin-bottom: auto;
    color: white;
    background-color: hsl(120, 90%, 20%);
    border: none;
    border-radius: .8rem;
}

.logOut:hover {
    background-color:  hsl(120, 90%, 15%)
}


.userDataDiv{
    display: flex;
    margin-bottom: 2rem
}

.favoriteTheatersArea {
    width: calc(40vw + 2rem);
    height: 70vh;
    background-color: hsl(223, 12%, 20%);
    border-top: 1px solid hsl(223, 12%, 12%);
    border-radius: .2rem;
    margin-right: 2rem;
}

.favoriteTheatersHeader {
    height: 10vh;
    display: flex;
    align-items: center;
}

.favoriteTheatersLabel {
    font-size: larger;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0;
}

.favoriteTheatersDiv {
    width: 40vw;
    height: 60vh;
    padding: 1rem;
    padding-top: 0;
    background-color: hsl(223, 12%, 20%);
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    border-top: 1px solid hsl(223, 12%, 12%);
}

.favoriteTheatersDiv::-webkit-scrollbar{
    background-color: hsla(223, 12%, 24%, 0);;
}

.favoriteTheatersDiv::-webkit-scrollbar-thumb{
    background-color: hsl(223, 12%, 32%);
    border-radius: 10rem;
}

.favoriteTheater:last-child {
    margin-bottom:.25rem
}

.favoriteTheater {
    width: calc(40vw - 6rem);
    height: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 1rem;
    margin-bottom: 0;
    background-color: hsl(223, 12%, 28%);
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: medium;
}

.favoriteTheater:hover {
    width: calc(40vw - 5.5rem);
    height: 1.5rem;
    transform: translateX(-.5rem);
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin-top: .75rem;
    margin-bottom: 0rem
}

.favoriteTheater:hover + div {
    margin-top: .75rem;
}

.theaterName {
    padding-right: 1rem;
    user-select: none;
    cursor: pointer;
}

.theaterName:hover {
    color: hsl(0, 0%, 80%)
}

.trashButton {
    margin-left: auto;
    cursor: pointer;
}

.trashButton:hover {
    color: grey
}

.trashButton:active {
    transform: translateX(1.5px);
    font-size: larger;
}


.ticketsDiv {
    width: calc(60vw - 6rem);
    height: 70vh;
    background-color: hsl(223, 12%, 20%);
    border-top: 1px solid hsl(223, 12%, 12%);
    border-radius: .2rem;
}

.ticketsDivHeader {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.ticketsTitle {
    font-size: larger;
    font-weight: bold;
    width: 100%;
    transform: translateX(-4rem);
    text-align: center;
    margin: 0;
}

.ticketsDivBody {
    width: calc(60vw - 8rem);
    height: (60vh + 1rem);
    padding-top: 0;
    margin:0;
    background-color: hsl(223, 12%, 20%);
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    border-top: 1px solid hsl(223, 12%, 12%);
}

.toggleDiv {
    height: 6vh;
    width: (100% - 0rem);
    display: flex;
    margin-left: auto;
    justify-content: right;
    align-items: center;
    padding: .5rem;
    justify-self: flex-end;
    z-index: 9998;

}

.switch {
    margin-right: .5rem;
    margin-left: 1rem;
    width: 8rem;
    background-color: hsl(223, 12%, 12%);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9998;

}

.switchLeft {
    font-size: small;
    width: 3rem;
    padding: .65rem;
    cursor: pointer;
    border-radius: 3rem;
    background-color: hsl(223, 12%, 28%);
    text-align: center;
    z-index: 9998;

}

.switchRight {
    font-size: small;
    width: 5rem;
    padding: .65rem;
    cursor: pointer;
    border-radius: 3rem;
    text-align: center;
    z-index: 9998;
}

.ticketPreviewsList {
    width: (60vw + 2rem);
    height: calc(60vh - 0rem);
    padding: 1rem;
    padding-top: 0;
    background-color: hsl(223, 12%, 20%);
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    overflow: auto;
    z-index: 9998;
    overflow-y: auto;

}

.ticketPreviewsList::-webkit-scrollbar{
    background-color: hsla(223, 12%, 24%, 0);;
}

.ticketPreviewsList::-webkit-scrollbar-thumb{
    background-color: hsl(223, 12%, 32%);
    border-radius: 10rem;
}

.dateLabel {
    margin: 1.25rem;
    margin-bottom: 0;
}
.ticketPreview {
    width: calc(60vw - 16rem);
    height: auto;

    display: flex;
    flex-wrap: wrap;

    padding: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
    margin-bottom: 0;

    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(223, 12%, 28%);

    cursor: pointer;
}

.ticketPreview:hover {
    padding: 1.5rem;
    padding-top: 1.15rem;
    padding-bottom: 1.35rem;
    margin: .75rem;
}

.ticketPreview:hover + div {
    margin-top: .75rem;
}

.ticketPreview:hover + p {
    margin-top: 1rem;
}

.ticketPreviewMovieName {
    margin: 0;
    width: 75%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.ticketPreviewShowingTime {
    margin: 0;
    width: 25%;
    font-size: 1.3rem;
    text-align: right;
    cursor: pointer;
}

.ticketPreviewTheaterName {
    margin: 0;
    margin-top: .5rem;
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
}

.ticketPreviewSeats {
    margin: 0;
    font-weight: 300;
    margin-top: .75rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}


.userPageFooter {
    display: flex;
}

.deleteAccount {
    margin-left: auto;
    display: block;
    font-size: 1rem;
    width: 8rem;
    padding: .5rem;
    color: white;
    background-color: hsl(120, 90%, 20%);
    border: none;
    border-radius: .8rem;
    margin-top: 1rem
}

.deleteAccount:hover {
    background-color: hsl(0, 62%, 40%);
}

.deleteWindow {
    position:fixed;
    width: calc(40vw - 4rem);
    height: auto;
    max-height: 80vh;
    margin-top: 30vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 2rem;
    background-color: hsl(223, 12%, 24%);
    border: none;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.deleteLabel {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    
}

.doNotDelete {
    width: 8rem;
    padding: .5rem;
    margin-left: calc(25% - 4rem);
    margin-right: calc(25% - 4rem);
    font-size: .9rem;
    border: none;
    border-radius: .8rem;
    margin-top: 1rem;
    background-color: hsl(120, 90%, 20%);
    color: white
}

.doNotDelete:hover {
    background-color:  hsl(120, 90%, 15%)
}

.confirmDelete {
    width: 8rem;
    padding: .5rem;
    margin-left: calc(25% - 4rem);
    margin-right: calc(25% - 4rem);
    font-size: .9rem;
    border: none;
    border-radius: .8rem;
    margin-top: 1rem;
    background-color: hsl(0, 62%, 40%);
    color: white

}

.confirmDelete:hover {
    background-color: hsl(0, 77%, 32%);
}


.ticketDisplay{
    position:fixed;
    width: 60vw;
    height: auto;
    max-height: 80vh;
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: hsl(223, 12%, 24%);
    border: none;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.ticketDisplayHeader {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    background-color: hsl(223, 12%, 20%);
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ticketDisplayTitle {
    font-weight: normal;
    width: 100%;
    margin: 1rem;
    text-align: center;
}

.ticketDisplayBody {
    display: flex;
    flex-wrap: wrap;
    height: calc(80vh - 5rem);
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: auto;
}

.ticketDisplayBody::-webkit-scrollbar{
    background-color: hsla(223, 12%, 24%, 0);;
}

.ticketDisplayBody::-webkit-scrollbar-thumb{
    background-color: hsl(223, 12%, 32%);
    border-radius: 10rem;
}

.ticketDisplayMovieDate {
    width: 100%;
    margin: 0;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.ticketDisplayTheaterName {
    width: 100%;
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.ticketDisplayAddress {
    width: 100%;
    margin: 0;
    margin-top: .5rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.ticketDisplayFormat {
    margin: 0;
    margin-top: 2rem;
    width: 100%;
    font-weight: 450;
}

.ticketDisplayTime {
    margin: 0;
    margin-left: .5rem;
    width: 100%;
    font-weight: 350;
    font-size: 1.2rem;
}

.ticketDisplayAmenities {
    width: 100%;
    margin: 0;
}

.ticketDisplaySeats {
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    align-self: flex-start;
}

.ticketDisplayTotalPrice {
    width: 100%;
    margin: 1.5rem;
    margin-right: 0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right;
    align-self: flex-end;
}

.seatDisplay {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid hsl(223, 12%, 12%);
}

.screenSmall {
    background-color: hsl(0, 0%, 3%);
    text-align: center;
    font-size: .7rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .1rem;
    width: 8rem;
    border-radius: .2rem;
}

.seatMapSmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.seatRowDivSmall {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seatRowSmall {
    text-align: center;
}  

.seatSmall {
    padding: 4px;
    border: 1px solid black;
    border-radius: .1rem;
    cursor: pointer;
    background-color: hsl(0, 0%, 40%);
}


.adminDashboard {

}

.chartsDiv {
    width: calc(100% - 4rem);
    height: auto;
    padding: 2rem;
    padding-top: 1rem;
    margin:0;
    margin-bottom:1rem;
    background-color: hsl(223, 12%, 20%);
    border-radius: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    border-top: 1px solid hsl(223, 12%, 12%);
}

.adminHeaderDiv {
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.switchChart {
    width: 24rem;
    background-color: hsl(223, 12%, 12%);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9998;
}

.weekSwitch {
    font-size: medium;
    width: 8rem;
    padding: .65rem;
    cursor: pointer;
    border-radius: 3rem;
    background-color: hsl(223, 12%, 28%);
    text-align: center;
    z-index: 9998;
}

.monthSwitch {
    font-size: medium;
    width: 8rem;
    padding: .65rem;
    cursor: pointer;
    border-radius: 3rem;
    text-align: center;
    z-index: 9998;
}

.allSwitch {
    font-size: medium;
    width: 8rem;
    padding: .65rem;
    cursor: pointer;
    border-radius: 3rem;
    text-align: center;
    z-index: 9998;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    
}

.chartOuterDiv {
    width: calc(calc(50% - 1rem) - 0px);
    padding: .5rem;
}

@media screen and (max-width: 900px) {
    .chartOuterDiv {
        width: 100%;
        margin: 0rem;
    }
}

.chartTitle {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.chartDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.chart {
    width: 100%;
}

.canvas {
}